<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oooooopsss! Looks like there's an error!</title>
</head>
<body>
    <header>
      <div>
        <a href="/">
          <h1>Best Books!</h1>
        </a>
      </div>
      <nav>
        <div class="icon-menu"></div>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p><%= error %></p>
    </main>
    <footer>
      <ul>
        <li><span class="icon-mail2"><a href=""></a></span></li>
        <li><span class="icon-twitter"><a href=""></a></span></li>
        <li><span class="icon-github"><a href=""></a></span></li>
        <li><span class="icon-linkedin2"><a href=""></a></span></li>
      </ul>
    </footer>
  </body>
</html>