<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
</head>      
   <body>
        <main>
         
          <a href = "/search">SEARCH BOOKS</a><br>
            <% results.forEach(item => { %>  
            <div class="book">
              <img src="<%= item.image_url %>"/>
            
              <p><%= item.title %></p>
            
              <p><%= item.author %></p>
             
              <p><%= item.description %></p>
            </div>
              <% }) %>
          

        </main>
      </body>
</html>