@media only screen and (max-width: 550px) {
    /* for mobile view */
    

body{
    background-color: black;
    display: flex; 
    flex-direction: column;
    font: black;
    font-family: 'Darker Grotesque', sans-serif;
    border: solid green 2px;
}

h4{
    /* font-size: 3em; */
    border: solid red 2px;
    height: 25px; 
    /* width: vmax; */
}

main {
    border: solid pink 2px;
    background: gray; 
    height: 700px; 
    width: 70%;
    margin: auto;
  }

  
  form {
    border: solid orange 2px;
  }
  
  fieldset {
    border: solid yellow 2px;
    margin: 10px;
    padding: 5px; 
    background: lightgray;
    border-radius: 5px; 
    height: 25px;
  }

  input {
      border: solid purple 2px; 
      border-radius: 5px;
      height: 30px;
  }

  button {
      border: solid 2px fuchsia;
      border-radius: 5px;
      font: white; 
      height: 25px; 
  }

  header {
      background-color: black;
  }

  footer{
      background-color: black;
  }

  form > button {
      height: 35px;
  }
  

}